{% extends 'layout.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
  <body>
  {% if images %}

      <div id="myCarousel" class="carousel slide" >
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          {% for image in images %}
            {% if loop.first %}
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% else %}
              <li data-target="#myCarousel" data-slide-to="{{loop.index0}}"></li>
            {% endif %}
          {% endfor %}
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
          {% for image in images %}
            {% if loop.first %}
              <div class="item active" style="position:relative;">
                <img src="{{image.image_path}}" alt="{{loop.index}} slide">
                <span style="position: absolute; top: 0; left: 0;">{{image.title}}</span>
              </div>
            {% else %}
              <div class="item" style="position:relative;">
                <img src="{{image.image_path}}" alt="{{loop.index}} slide">
                <span style="position: absolute; top: 0; left: 0;">{{image.title}}</span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


  {% endif %}

  <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
    <div>{{ form.image.label }}: {{ form.image(class="img-rounded") }}</div>
    <div>{{ form.title.label }}: {{ form.title() }}</div>
    <div>{{ form.description.label }}: {{ form.description() }}</div>
    <div>{{ form.submit.label }}: {{ form.submit() }}</div>
    {{ render_form(form) }}
  </form>
  </body>
{% endblock %}