{% extends 'layout.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        <header>
            <div class="top-news">
                   <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-3 dark-gray-bg text-right">
                               <h5 class="text-uppercase white text-bold">BREAKING NEWS</h5>
                           </div>
                           <div class="col-md-9 light-gray-bg">
                                <div class="top-news-slide">
                                    <div class="item">
                                       <p class="e-light-gray text-uppercase">Apple boosts iMac screen resolution, lowers price of top-end 27-in. machine by 8%</p>
                                   </div>
                                   <div class="item">
                                       <p class="e-light-gray text-uppercase">Apple boosts iMac screen resolution, lowers price of top-end 27-in. machine by 8%</p>
                                   </div>
                                   <div class="item">
                                       <p class="e-light-gray text-uppercase">Apple boosts iMac screen resolution, lowers price of top-end 27-in. machine by 8%</p>
                                   </div>
                                </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="main-head">
                   <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 text-right">
                               <h1 class="logo"><span class="hidden">ECOTA</span><img src="img/logo.png" alt=""></h1>
                           </div>
                           <div class="col-md-9 dark-gray-bg no-padding">
                               <div class="add-area text-center">
                                   <img class="img-responsive" src="img/add.jpg" alt="">
                               </div>
                                   <nav class="navbar navbar-default no-mb">
                                          <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                              <span class="sr-only">Toggle navigation</span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                                            </button>
                                          </div>
                                          <div id="navbar" class="navbar-collapse collapse no-margin no-padding">
                                            <ul class="nav navbar-nav">
                                              <li class="dropdown active">
                                                <a href="#" class="red-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <i class="fa fa-bars"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="index.html">Homepage 1</a></li>
                                                  <li><a href="homepage2.html">Homepage 2</a></li>
                                                </ul>
                                              </li>
                                              <li><a class="pink-nav" href="#">Coding <i class="fa fa-bars"></i></a></li>
                                              <li><a class="sky-blue-nav" href="#">Design <i class="fa fa-bars"></i></a></li>
                                              <li><a class="orange-nav" href="#">Mobile <i class="fa fa-bars"></i></a></li>
                                              <li><a class="violet-nav" href="#">Graphic <i class="fa fa-bars"></i></a></li>
                                              <!-- <li><a class="green-nav" href="#">UI design <i class="fa fa-bars"></i></a></li> -->
                                             <li class="dropdown">
                                                <a href="#" class="red-nav dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-bars"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="about.html">About Us</a></li>
                                                  <li><a href="about-author.html">About</a></li>
                                                  <li><a href="standard-post.html">Standard Post</a></li>
                                                  <li><a href="video-post.html">Video Post</a></li>
                                                  <li><a href="audio-post.html">Audio Post</a></li>

                                                </ul>
                                              </li>
                                              <li><a class="green-nav" href="contact.html">Contact <i class="fa fa-bars"></i></a></li>
                                            </ul>
                                          </div><!--/.nav-collapse -->
                                  </nav>
                           </div>
                        </div>
                   </div>
               </div>
        </header>
        <div class="page-title video-post-title">
          <div class="container-fluid">
            <h2 class="p-title white text-uppercase text-bold">Video Post</h2>
          </div>
        </div>

        <section class="mt-116 mb-116">
          <div class="container">
            <div class="row">
              <div class="col-md-8 video-post">
                <div class="v-post">
                  <iframe src="https://player.vimeo.com/video/144669342" width="500" height="420" allowfullscreen></iframe>
                </div>
                <div class="tags mt-30">
                  <a href="#" class="btn text-uppercase btn-pink">entertainment</a><a href="#" class="btn btn-violet text-uppercase">Technology</a>
                </div>
                <h4 class="title-t text-bold text-uppercase d-black mt-30">They'll have to make the best of things its an uphill climb</h4>
                <h5 class="post-tagline serif d-black text-uppercase ls-2 mt-20">Posted by Andrew symonus  /  October 14, 2016  /  3 comment </h5>
                <p class="fz-15 mt-30">There ain't nothin' wrong with that? The first mate and his Skipper too will do their very best to make the others comfortable in their tropic island nest. Here he comes Here comes Speed Racer. He's a demon on wheels. Come and play. Everything's A-OK. Friendly neighbors there that's where we meet. Can you tell me how to get how to get to Sesame Street. </p>
                <p class="fz-15 mt-15">Fleeing from the Cylon tyranny the last Battlestar – Galactica - leads a rag-tag fugitive fleet on a lonely quest - a shining planet known as Earth!</p>
                <div class="quote mt-30">
                  <i class="fa fa-quote-right fa-lg"></i>
                  <p class="lh-38 text-uppercase fz-18 text-italic">A shadowy flight into the dangerous world of a man who does not exist was a mighty sailin</p>
                  <h3 class="text-bold text-uppercase d-black mt-20">James Anderson</h3>
                </div>
                <h3 class="text-bold text-uppercase d-black mt-40">Sometimes you want to go where everybody</h3>
                <p class="fz-15 mt-30">Flatnin' the hills Someday the mountain might get ‘em but the law never will. These days are all Happy and Free. These days are all share them with me oh baby! Now were up in the big leagues getting' our turn at bat. Here's the story of a man named Brady who was busy with three boys of his own.</p>
                <div class="row mt-30" >
                  <div class="col-md-6"><img class="img-responsive" src="img/v-post1.jpg" alt=""></div>
                  <div class="col-md-6"><img class="img-responsive" src="img/v-post2.jpg" alt=""></div>
                </div>
                <div class="mt-30 post-social">
                  <a class="fb-bg" href="#"><i class="fa fa-facebook fa-lg"></i></a>
                  <a class="twitter-bg" href="#"><i class="fa fa-twitter fa-lg"></i></a>
                  <a class="google-plus-bg" href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                  <a class="pinterest-bg" href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                  <a class="en-bg" href="#"><i class="fa fa-envelope-o fa-lg"></i></a>

                </div>
                <div class="clearfix">  </div>
                <div class="written-by mt-30 clearfix">
                  <div class="row">
                    <div class="col-md-2"><img src="img/writer.jpg" alt=""></div>
                    <div class="col-md-10">
                      <h5 class="title text-uppercase text-bold d-black">Written by <span class="orange">andrew symonus</span></h5>
                      <p class="fz-13 lh-28 mt-20">The Love Boat soon will be making another run. The Love Boat promises something for everyone. Its mission - to explore strange new worlds to seek out new life and civilizations to boldly go where no man has gone before.</p>
                      <div class="writer-social mt-20">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comments mt-30">
                  <h4 class="title-t text-uppercase text-bold d-black mb-40">3 Comments</h4>
                  <div class="comment mt-30">
                    <img class="pull-left" src="img/comment1.png" alt="">
                    <div class="comment-content bubble">
                      <h5 class="fz-13 text-bold text-uppercase d-black">Micheal bravo</h5>
                      <h6 class="orange-light text-uppercase mt-10">Oct 15, 2016</h6>
                      <p class="fz-13 lh-28 mt-10">You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. Believe it or not I'm walking on air.</p>
                      <div class="text-right mt-30">
                        <a class="btn btn-trans text-uppercase ls-2" href="">Reply </a>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="comment mt-30 pull-in">
                    <img class="pull-left" src="img/comment2.png" alt="">
                    <div class="comment-content bubble">
                      <h5 class="fz-13 text-bold text-uppercase d-black">david warner</h5>
                      <h6 class="orange-light text-uppercase mt-10">Oct 15, 2016</h6>
                      <p class="fz-13 lh-28 mt-10">Can you tell me how to get how to get to Sesame Street. Just two good ol' boys Never meanin' no harm.</p>
                      <div class="text-right mt-30">
                        <a class="btn btn-trans text-uppercase ls-2" href="">Reply </a>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="comment mt-30">
                    <img class="pull-left" src="img/comment3.png" alt="">
                    <div class="comment-content bubble">
                      <h5 class="fz-13 text-bold text-uppercase d-black">martin guptill</h5>
                      <h6 class="orange-light text-uppercase mt-10">Oct 15, 2016</h6>
                      <p class="fz-13 lh-28 mt-10">The first mate and his Skipper too will do their very best to make the others comfortable in their tropic island nest. Come and dance on our floor.</p>
                      <div class="text-right mt-30">
                        <a class="btn btn-trans text-uppercase ls-2" href="">Reply </a>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="leave-comment mt-50">
                  <h4 class="title-t text-bold text-uppercase d-black">leave your comment</h4>

                  <form action="#">
                    <div class="row mt-30">
                      <div class="col-md-6 mt-20">
                        <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="col-md-6 mt-20">
                        <input type="email" class="form-control" placeholder="email Address">
                      </div>
                    </div>
                    <textarea id="important" rows="10" class="form-control mt-20" placeholder="Your Comment"></textarea>
                    <div class="mt-30">
                      <a href="#" class="btn btn-orange-light text-uppercase">post comment</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-4">
                <div class="pp-social">
                    <h4 class="white text-uppercase text-bold pl-30">stay connected</h4>
                    <div class="pp-social-icons text-center">
                      <div class="pp-icon mt-30">
                        <i class="fa fa-facebook fa-lg white fb-bg"></i>
                        <h4 class="title-t">228,480</h4>
                        <h4>Fans</h4>
                      </div>
                      <div class="pp-icon mt-30">
                        <i class="fa fa-twitter fa-lg white twitter-bg"></i>
                        <h4 class="title-t">21,563</h4>
                        <h4>Followers</h4>
                      </div>
                      <div class="pp-icon mt-30">
                        <i class="fa fa-linkedin fa-lg white linkedin-bg"></i>
                        <h4 class="title-t">20,563</h4>
                        <h4>Followers</h4>
                      </div>
                      <div class="clearfix"></div>
                      <div class="pp-icon mt-30">
                        <i class="fa fa-youtube fa-lg white youtube-bg"></i>
                        <h4 class="title-t">8,125</h4>
                        <h4>Subscribers</h4>
                      </div>
                      <div class="pp-icon mt-30">
                        <i class="fa fa-vimeo-square fa-lg white vimeo-bg"></i>
                        <h4 class="title-t">2,253</h4>
                        <h4>Subscribers</h4>
                      </div>
                      <div class="pp-icon mt-30">
                        <i class="fa fa-dribbble fa-lg white dribbble-bg"></i>
                        <h4 class="title-t">10,563</h4>
                        <h4>Followers</h4>
                      </div>
                    </div>

                </div>
                <div class="pp-social mt-40">
                    <h4 class="white text-uppercase text-bold pl-30">My account</h4>
                    <form class="p-lr-18 leave-comment user" action="#">
                      <div class="input-group mt-30">
                          <input type="text" class="form-control" placeholder="username">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      </div>
                      <div class="input-group mt-10">
                          <input type="password" class="form-control" placeholder="* * * * *">
                          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      </div>
                      <div class="mt-30 login">
                        <a class="btn btn-orange-light text-uppercase text-bold ls-2" href="#">Login</a>
                        <a class="ls-2 " href="#">Forget Password ?</a>
                      </div>
                    </form>
                </div>
                <div class="pp-social mt-40 no-padding">
                    <h4 class="white text-uppercase text-bold pl-30">Popular Posts</h4>
                    <div class="pp">
                              <div class="item mb-30">
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp1.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Buckingham Palace soil used in Tate exhibit</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp2.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase orange mt-20">Sports</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Legendary coach Steve Spurrier was truly </h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp3.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase violet mt-20">Technology</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Acer reveals all-in-one Windows 10 PC</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp4.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Revival allows Selena Gomez to shed</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="item mb-30">
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp1.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Buckingham Palace soil used in Tate exhibit</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp2.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase orange mt-20">Sports</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Legendary coach Steve Spurrier was truly </h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp3.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase violet mt-20">Technology</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Acer reveals all-in-one Windows 10 PC</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp4.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Revival allows Selena Gomez to shed</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                              <div class="item mb-30">
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp1.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Buckingham Palace soil used in Tate exhibit</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp2.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase orange mt-20">Sports</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Legendary coach Steve Spurrier was truly </h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp3.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase violet mt-20">Technology</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Acer reveals all-in-one Windows 10 PC</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="pp-post mt-30">
                                  <img class="pull-left" src="img/pp4.jpg" alt="">
                                  <div class="pp-content">
                                    <h6 class="title text-uppercase pink mt-20">entertainment</h6>
                                    <h5 class="text-uppercase lh-24 mt-10 mb-10">Revival allows Selena Gomez to shed</h5>
                                    <span>Oct 13, 2016</span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                </div>

                <div class="adds mt-30">
                  <a href="#"><img class="img-responsive" src="img/add1.jpg" alt=""></a>
                </div>
                <div class="pp-social mt-30 no-padding">
                    <h4 class="white text-uppercase text-bold pl-30">popular videos</h4>
                    <div class="popular-videos">
                      <div class="item p-lr-30 mb-30">
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv1.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Straight ahead and on the track now</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv2.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Well we're movin' on up east side</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv3.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Took a whole lotta tryin' just</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item p-lr-30 mb-30">
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv1.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Straight ahead and on the track now</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv2.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Well we're movin' on up east side</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv3.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Took a whole lotta tryin' just</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item p-lr-30 mb-30">
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv1.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Straight ahead and on the track now</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv2.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Well we're movin' on up east side</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="p-video mt-20">
                          <div class="p-video-img">
                            <img class="img-responsive" src="img/pv3.jpg" alt="">
                            <div class="p-video-caption">
                              <a href="#">
                                <i class="fa fa-play fa-lg"></i>
                                <h5 class="fz-15 text-bold text-uppercase white lh-20">Took a whole lotta tryin' just</h5>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>




        <footer>
            <div class="upperfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="fbt">
                                <h3 class="white text-uppercase text-bold hr-b mt-30"> About us</h3>
                                <p class="mt-40 f-gray">A man is born he's a man of means. Then along come two they got nothin' but their jeans. The ship set ground on the shore of this uncharted gilligan</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="fbt">
                                <h3 class="white text-uppercase text-bold hr-b mt-30">Recent post</h3>
                                <div class="r-post mt-50">
                                    <img class="pull-left" src="img/rp1.png" alt="">
                                    <div class="r-post-content pull-right">
                                        <span class="foo text-uppercase f-gray">The first mate and Skipper too will do their</span>
                                        <span class="add f-gray mt-10">Oct 10, 2016</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="r-post mt-20">
                                    <img class="pull-left" src="img/rp2.png" alt="">
                                    <div class="r-post-content pull-right">
                                        <span class="foo text-uppercase f-gray">All of them had hair of gold like their mother</span>
                                        <span class="add f-gray mt-10">Oct 10, 2016</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="r-post mt-20">
                                    <img class="pull-left" src="img/rp3.png" alt="">
                                    <div class="r-post-content pull-right">
                                        <span class="foo text-uppercase f-gray">So this is the tale of our long long time</span>
                                        <span class="add f-gray mt-10">Oct 10, 2016</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="fbt">
                                <h3 class="white text-uppercase text-bold hr-b mt-30"> Twitter feed</h3>
                                <div class="twitter-feed mt-50">
                                    <div class="col-md-1 col-xs-2">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        <h4 class="text-uppercase white">Got a dream and we just know now we gonna <span> @ JAMES ANderson</span></h4>
                                        <h6 class="title text-uppercase white mt-10">1 hours ago</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="twitter-feed mt-20">
                                    <div class="col-md-1 col-xs-2">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        <h4 class="text-uppercase white">Got a dream and we just know now we gonna <span> @ Micheal hosting</span></h4>
                                        <h6 class="title text-uppercase white mt-10">1 hours ago</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="twitter-feed mt-20">
                                    <div class="col-md-1 col-xs-2">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        <h4 class="text-uppercase white">Got a dream and we just know now we gonna <span> @ chris evans </span></h4>
                                        <h6 class="title text-uppercase white mt-10">1 hours ago</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-70">
                        <div class="col-md-6 col-sm-6">
                            <div class="fbt">
                                <h3 class="white text-uppercase text-bold hr-b mt-30"> CONNECT WITH US</h3>
                                <p class="mt-40 f-gray">That this group would somehow form a family that's the way we all became the Brady Bunch. The mate was a mighty sailin' man the Skipper brave and sure. Five passengers set sail that day for a three hour tour a three hour tour.</p>
                                <div class="f-social mt-20">
                                    <a class="mt-10" href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-instagram fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-tumblr fa-lg"></i></a>
                                    <a class="mt-10" href="#"><i class="fa fa-github fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-md-offset-1">
                            <div class="fbt">
                                <h3 class="white text-uppercase text-bold hr-b mt-30"> popular tags</h3>
                                <div class="popular-tags mt-50">
                                    <a href="#" class="btn btn-gray">Android</a>
                                    <a href="#" class="btn btn-gray">Apple</a>
                                    <a href="#" class="btn btn-gray">Apps and Software</a>
                                    <a href="#" class="btn btn-gray">Dev and Design</a>
                                    <a href="#" class="btn btn-gray">Gallery</a>
                                    <a href="#" class="btn btn-gray">Games</a><br>
                                    <a href="#" class="btn btn-gray">Life and Style</a>
                                    <a href="#" class="btn btn-gray">Technology</a><br>
                                    <a href="#" class="btn btn-gray">Sports</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lowerfooter">

                <div class="row">
                    <div class="col-md-10 v-d-bg col-md-offset-2">
                        <div class="col-md-8 col-sm-8"><img src="img/logo-f.png" alt=""></div>
                        <div class="col-md-4"><p class="white">Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></div>
                    </div>
                </div>
            </div>
        </footer>
  {{super()}}
    </body>
{% endblock %}